# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\technical-test\new-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
